.project-container {
    position: relative;
    background-image: url('../../assets/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 90rem;
    height: 54.875rem;
    top: -3.5rem;
    display: flex;
    flex-direction: column;
}

.projects {
    margin-top: 6rem;
    margin-left: 6rem;
    color: white;
    font-family: "Numans", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.projects-span {
    color: #FD853A;
}

.project-list {
    padding: 4rem;
}



