.btn-container{
    position: relative;
    border: none;
    border-radius: 3.75rem;
    width: 136px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-container:hover{
    background-color: #FD853A;
    font-weight: bold;
}

.btn-text{
    font-family: "Numans", sans-serif;
    font-weight: none;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}
