.home-container{
    position: relative;
    display: block;
    align-items: baseline;
    width: 60rem;
    height: 38.25rem;
    background-image: url('../../assets/home1.png');
    background-size: cover;         
    background-repeat: no-repeat;
    background-position: center center;  
}

.home-container:hover{
    background-image: url('../../assets/home2.png');
    -webkit-transition: background-image 500ms ease-in-out;
    -ms-transition: background-image 500ms ease-in-out;
    transition: background-image 500ms ease-in-out;
}

.home-img{
    position: relative;
    width: 90rem;
    height: 58.25rem;
}