.serviceCard-container{
    position: relative;
    width: 26rem;
    height: 31.75rem;
    border: none;
    border-radius: 3.563rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}
.serviceCard-container-container{
    position: relative;
    width: 26rem;
    height: 31.75rem;
    outline: none;
    border-radius: 3.563rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
}

.serviceCard-title{
    margin-top: 2.5rem;
    margin-left: 4rem;
    color: white;
    font-family: "Numans", sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.blank-line{
    margin-top: -0.6rem;
    border: 0.1rem solid;
    color: rgba(255, 255, 255, 0.4);
}

.serviceCard-curve{
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    width: 7.125rem;
    height: 7.125rem;
    border: none;
    border-radius: 3.563rem;
    background-image: url('../../assets/arrow2.png');
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    z-index: 10;
}
